*.class
*.jar
*.jks
*.db
*.crt
*.key
*.pem
*.csr
*.sha*
*.md5
*.sfv
*.ini
*.properties
*.args
*javac.*
*Servak.class
mykeystore*
# Java class files
*.class

*jquery-2.1.3.js

# Jar files
*.jar

# Keystores
*.jks
*.pem
*.crt
*.key

# Databases
*.db

# IDE configs (наприклад IntelliJ IDEA)
.idea/
*.iml

# Git repositories
**/.git/

www80/qqq/*
www/download/*
*/.well-known/*
old/*
lib/*
backup/*
whitePathList.txt
blackPathList.txt
logs/*
phpMemFile.xml
