*.class
*.jar
*.jks
*.db
*.crt
*.key
*.pem
*.csr
*.sha*
*.md5
*.sfv
*.ini
*.properties
*.args
*javac.*
*Servak.class
mykeystore*
# Java class files
*.class

*jquery-2.1.3.js

# Jar files
*.jar

# Keystores
*.jks
*.pem
*.crt
*.key

# Databases
*.db

# IDE configs 
.idea/
*.iml

# Git repositories
**/.git/

www80/qqq/*

#www/download/*
www/download/files/Моя Аплікуха_1.0.apk
www/download/files/app-release-unsigned.apk
www/download/files/HS-16 calc_1.0.apk
www/download/files/mg.apk
www/download/files/rv.apk
www/download/files/wifi_switch_app.apk
www/download/html/сміття/*

*/.well-known/*
old/*
lib/*
backup/*
whitePathList.txt
blackPathList.txt
logs/*
phpMemFile.xml

.xdp-*
site_radm/*
www80/BlockOut*
