body, html {
	margin: 0;
	padding: 0;
/*     box-sizing: border-box;
	height: 100%; */
	font-family: Arial, sans-serif;
}

td.name {
	justify-content: center;
	align-items: center;
/* 	position: relative; */
}

.content-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reset {
/* 	position: absolute; */
	left: 0;
	background-color: green;
}

.text {
	flex-grow: 1;
	text-align: center;
}

table.tabl_prnt {
/*     margin: 14px; */
/*     float: left; */
    border-collapse: separate;
    border-spacing: 1px;
    width: 100%;
    max-width: 350px;
    table-layout: fixed; /* Зробити стовпці рівними */
}

table.tabl_prnt th, table.tabl_prnt td {
    border: 1px solid black;
}

table.tabl_prnt tr td.name {
    font-family: Arial, sans-serif;
}

table.tabl_prnt tr td.znach {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: bold;
}

table.zjednannja th{
	padding: 1px;
}

table.zjednannja td {
	border: none;
	padding: 1px;
}

table.zjednannja tr.nyz td {
	border-bottom: 1px solid black;
}

table.zjednannja tr.verkh td {
	border-top: 1px solid black;
}

table.tabl_prnt th, table.tabl_prnt td {
    padding: 8px;
    text-align: center;
    width: 50%; /* Встановити рівну ширину для кожної колонки */
}

table.tabl_prnt tr {
    width: 100%;
    /* table-layout: fixed; */ /* Переконайтеся, що це налаштовано */
}


div#poleopysu {
	font-family: Arial, sans-serif;
}

/* Комп'ютерний вигляд */
#sidebar {
	width: 300px;
	position: fixed;
	top: 0;
	bottom: 40px;
	left: 0;
	background-color: #f0f0f0;
	overflow-y: auto;
	transition: transform 0.3s ease;
}

#zaholovok {
	padding-left: 60px;
	position: fixed;
}

#field1 {
	box-sizing: border-box;
	position: fixed;
	top: 60px; /* Встановлюємо відступ з верху рівний висоті заголовка */
	bottom: 40px; /* Встановлюємо відступ знизу рівний висоті нижнього блоку */
	width: 100%;
	overflow-y: auto; /* Дозволяємо скролінг всередині field1 */
	padding: 20px;
}

#mainContent {
	margin-left: 300px; /* Відступ ліворуч дорівнює ширині бокового меню */
	margin-bottom: 40px;
	height: calc(100% - 40px);
}

#field2 {
	padding: 20px;
	background-color: #fff;
	height: 100%;
	overflow-y: auto;
}

#field3 p {
	margin: 0 15px;
}

table.tabl_prnt {
/*	border-collapse: collapse; */
	margin: 10px;
/* 	float: left; */
	font-family: 'Courier New', Courier, monospace;
}
table.tabl_prnt, th, td {
	border: 1px solid black;
}
th, td {
	padding: 5px;
	text-align: center;
}


/* Мобільний вигляд */
@media (max-width: 768px) {
	#sidebar {
		position: fixed;
		top: 0;
		left: -300px; /* Початкове положення поза екраном */
		height: 100%;
		transform: translateX(-100%);
		z-index: 1000;
		background-color: #f0f0f0;
		overflow-y: hidden;
	}


	#field3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #abc;
		display: flex;
		flex-direction: column; /* Встановлюємо вертикальне розташування */
		align-items: center;
		position: fixed;
	}

	#field1 {
		box-sizing: border-box;
		position: fixed;
		top: 60px; /* Встановлюємо відступ з верху рівний висоті заголовка */
		bottom: 100px; /* Встановлюємо відступ знизу рівний висоті нижнього блоку */
		width: 100%;
		overflow-y: auto; /* Дозволяємо скролінг всередині field1 */
		padding: 20px;
	}


	#field3 p {
		margin: 5px 0; /* Зменшуємо відступи для вертикального розташування */
	}
	
	#mainContent {
		margin: 0;
		height: 100%;
		overflow-y: auto;
		padding-top: 10px;
		margin-left: 0; /* Забираємо відступ ліворуч */
	}

	#menuToggle {
		transition: transform 0.3s ease;
		position: fixed;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		z-index: 1001;
		background-color: #000DFF;
		color: white;
		border: none;
		padding: 5px 3px;
		font-size: 14px;
		border-radius: 0 12px 12px 0;
		cursor: pointer;
		display: ;
		width: 10px; /* робимо кнопку тоншою */
		height: 150px; /* збільшуємо висоту для більшої видимості */
	}
	/* 
	#menuToggle span {
		display: block;
		width: 100%;
		height: 2px;
		background-color: white;
		margin: 5px 0;
	}
	 */
	#menuToggle:hover {
		background-color: #0000FF;
	}

	#sidebar.active {
		transform: translateX(100%);
	}
	
	#sidebar.active + #menuToggle {
		transform: translateX(300px) translateY(-50%); /* Зміщення кнопки разом із сайдбаром */
	}
}

@media (min-width: 768px) {
	
	#menuToggle {
		display: none;
	}

	#field3 {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 40px;
		background-color: #ddd;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
	}
	
	#field1 {
		width: 300px;
	}

}


.icon {	padding-left:24px; }
.gray_ball { background: transparent url(ball_gray_icon_16x16.png) top left no-repeat; }
.red_ball {background: transparent url(ball_red_icon_16x16.png) top left no-repeat; }
.green_ball { background: transparent url(ball_green_icon_16x16.png) top left no-repeat; }

.kl_1_znak {
	width: 1ch; /* Ширина поля рівна ширині одного символу */
    border: none; /* Прибрати рамку */
    outline: none; /* Прибрати обведення при фокусі */
    text-align: center; /* Центрувати текст */
}